body {
    background-color: lightgray;
}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
hr {
    border-style: inset;
    border-top-style: dashed;
    border-width: 5px;
    border-color: grey;
}
.table1 {
    border-spacing: 2px;
}
.grey {
    background-color: grey;
}
.t {
    border: 2px solid grey;
}
.btn:hover {
    background-color: black;
}
